/* Общие стили */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ddd;
}

/* Стили для кнопок цвета */
.color-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 60px; /* Увеличиваем расстояние между кнопками в 3 раза */
}

.color-button {
  width: 130px; /* Увеличен на 30% */
  height: 130px; /* Увеличен на 30% */
  border: none;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.color-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.black-button {
  background-color: black;
}

.white-button {
  background-color: white;
  border: 1px solid #ccc;
}

/* Стили для контейнера графика */
.chart-container {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.color-button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  margin: 10px;
  transition: background-color 0.5s;
}

.color-button.black-button {
  background-color: black;
}

.color-button.white-button {
  background-color: white;
  border: 2px solid black;
}

.color-button.correct {
  background-color: green !important;
  animation: pulse-green 1s;
}

.color-button.incorrect {
  background-color: red !important;
  animation: pulse-red 1s;
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
  }
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}